<!DOCTYPE HTML>
<html>
    <head>
        <title>EvaluateIt!</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script src="js/libs/require.js" data-main="js/mobile"></script>

        <link rel="stylesheet" type="text/css" href="css/normalize.css">
        <link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.1.0.css">

        <style type='text/css'>
            label.error {
                color: red;
                font-size: 16px;
                font-weight: normal;
                line-height: 1.4;
                margin-top: 0.5em;
                width: 100%;
                float: none;
            }

            @media screen and (orientation: portrait) {
                label.error {
                    margin-left: 0;
                    display: block;
                }
            }

            @media screen and (orientation: landscape) {
                label.error {
                    display: inline-block;
                    margin-left: 22%;
                }
            }

            em {
                color: red;
                font-weight: bold;
                padding-right: .25em;
            }

            * {
                font-family: Verdana;
                font-size: 96%;
            }
            /* label { width: 10em; float: left; }
             label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }*/
            p {
                clear: both;
            }
            .submit {
                margin-left: 12em;
            }
            em {
                font-weight: bold;
                padding-right: 1em;
                vertical-align: top;
            }
        </style>
    </head>
    <body>

        <div data-role="page" id="mainPage" data-theme="e">
            <form  id="mainForm" >
                <div data-role="content">
                    <img style="width: 288px; height: 100px" src="images/logo.gif" />
                    <fieldset>
                        <div data-role="fieldcontain">
                            <select id="mainMenu" data-theme="a" data-mini="true" data-inline="true">
                                <option value="" selected> Select evaluation type </option><!-- TODO: add lookup in site_type -->
                                <option value="1"> First Round Garden Evaluation</option>
                                <option value="2"> Second Round Garden Evaluation</option>
                                <option value="3"> Rain Garden Inspection</option>
                            </select>
                            <a href="#testDb" data-role="button" data-inline="true" data-theme="a" value="submit-value" >Data management</a>
                            <a href="#evaluations" data-role="button" data-inline="true" data-theme="a" value="submit-value" onClick="selectLocationToEvaluate()">Select Garden to Evaluate</a>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>

        <!-- test functions -->
        <div data-role="page" data-theme="e" id="testDb">
            <form  id="testDbForm" >
                <h1>Data Management</h1>
                <a href="#selectDataToRemote" id="postdata-button" data-role="button" data-inline="true" data-theme="a" onClick="selectEvaluationToPost()">POST Completed Evaluations to Remote</a>
                <a href="#" id="getdata-button" data-role="button" data-inline="true" data-theme="a" onClick="getJson()">Load Evaluations to Mobile</a>
                <a href="#mainPage" type="submit" data-role="button" data-inline="true" data-theme="a">Return to Main</a>
            </form>
        </div>

        <div data-role="page" data-theme="e" id="selectDataToRemote">
            <form  id="selectDataToRemoteForm" >
                <!-- print out all completed evaluations -->
                <div id="lbUploadEvaluation"></div>

                <a href="#mainPage" type="submit" data-role="button" data-inline="true">Return to Main</a>
            </form>
        </div>

        <div data-role="page" data-theme="e" id="dataToRemote">
            <form  id="dataToRemoteForm" >

                <!-- print out evaluation upload status-->
                <div id="lbUploadEvaluation"></div>
                <a href="#selectDataToRemote" type="submit" data-role="button" data-inline="true" onClick="selectEvaluationToPost()">Return to Select POST Data</a>
                <a href="#mainPage" type="submit" data-role="button" data-inline="true">Return to Main</a>
            </form>
        </div>

        <!-- form div for selection of evaluation location - ELIMINATE THIS!!-->
        <div data-role="page" data-theme="e" id="selectLocationToEvaluate">
            <form  id="selectLocationToEvaluateForm" >
                <div data-role="content">
                    <div data-role="fieldcontain">
                        <div id="lbLocation"></div>
                        <a href="#mainPage" class="submit" type="submit" data-role="button" data-inline="true"  data-theme="a">Return to Main</a>
                    </div>
                </div>
            </form>
        </div>

        <!-- underscore template test -->
        
        <div id="evaluations" data-role="page" data-title="Evaluations">

            <div data-role="header">
                <h1>Site to evaluate</h1>
            </div><!-- /header -->

            <div data-role="content">
                <ul data-role="listview" data-inset="true"></ul>
            </div><!-- /content -->

        </div>

         <div id="evaluations" data-role="page" data-title="Evaluations">

            <div data-role="header">
                <h1>Upload completed evaluation</h1>
            </div><!-- /header -->

            <div data-role="content">
                <ul data-role="listview" data-inset="true"></ul>
            </div><!-- /content -->

        </div>
        
        <!-- Underscore Template that is used to display all of the Category Models -->
        <script id="categoryItems" type="text/template">

            <% _.each(json,function(item,id) { %>

                <li data-id="<%= id %>" class="ui-li ui-li-static ui-btn-up-c ui-corner-top">
                <a href="#location" onclick="sessionStorage.ParameterID='<%=item.id %>'"> <%=item.id %> <%= item.location %>
                
            </li>

            <% }); %>

        </script>

        <!-- form div for site to evaluate -->
        <div data-role="page" data-theme="e" id="location">
            <form  id="locationForm" >
                <div data-role="content">

                    <!-- print out all sites assigned to evaluator -->
                    <div id="lbWhere"></div>

                    <div data-role="fieldcontain">
                        <fieldset data-role="controlgroup" data-mini="true">
                            <label for="dateOfEvaluation"> <em>* </em>Date of evaluation: </label>
                            <!--<input type="date" id="dateOfEvaluation" name="dateOfEvaluation" class="date">-->
                            <input type="date" name="dateOfEvaluation" id="dateOfEvaluation" value=""  />
                        </fieldset>
                        <fieldset data-role="controlgroup" data-mini="true">
                            <label for="gardenerName"> <em>* </em>Gardener name: </label>
                            <input id="gardenerName" name="gardenerName" placeholder="" type="text">
                        </fieldset>
                        <fieldset data-role="controlgroup" data-mini="true">
                            <label for="neighborhood"> <em>* </em>Neighborhood: </label>
                            <input id="neighborhood" name="neighborhood" placeholder="" value="" type="text">
                        </fieldset>
                    </div>

                    <div data-role="fieldcontain">
                        <fieldset data-role="controlgroup">
                            <legend>
                                Check here if:
                            </legend>
                            <input type="checkbox" name="checked-exists" id="checked-exists" class="custom" />
                            <label for="checked-exists">Garden no longer exists</label>
                        </fieldset>
                    </div>

                    <div data-role="fieldcontain">
                        <input type="button" value="Update Date, Existence, Neighborhood and Gardener" data-role="button" data-inline="true"  type="submit" data-theme="a" name="submit" value="submit-value" onclick="updateLocationPage()">
                        <!-- was validateSite() -->

                        <a href="#geolocationDiv" data-role="button" data-inline="true" data-theme="a"  value="submit-value">Geolocation test</a>
                        <a href="#ratingsFeatures" data-role="button"  data-inline="true" type="submit" data-theme="a" value="submit-value">Evaluate It!</a>
                        <a href="#viewEvaluation" id="postdata-button" data-role="button" data-inline="true" data-theme="a">View Evaluation Object</a>
                        <a href="#mainPage" id="res" data-role="button" data-inline="true" data-theme="a" class="submit" type="submit"  value="submit-value">Return to Main</a>

                    </div>

                </div>
            </form>
        </div>

        <div data-role="page" data-theme="e" id="viewEvaluation">
            <form  id="selectEvaluationToView" >
                <!-- print out all evaluation object -->
                <div id="lbViewEvaluation"></div>

                <legend>
                    Entered evaluation:
                </legend>
                <div id="lbEvaluation"></div>
                <br>

                <legend>
                    Entered site/garden:
                </legend>
                <div id="lbSite"></div>
                <br>

                <legend>
                    Entered Gardener:
                </legend>
                <div id="lbGardener"></div>
                <br>

                <legend>
                    Entered Geolocation:
                </legend>
                <div id="lbGeolocale"></div>
                <br>

                <legend>
                    Entered Award:
                </legend>
                <div id="lbAward"></div>
                <br>

                <legend>
                    Entered Factor:
                </legend>
                <div id="lbFactor"></div>
                <br>

                <legend>
                    Entered Feature:
                </legend>
                <div id="lbFeature"></div>
                <br>

                <a href="#mainPage" type="submit" data-role="button" data-inline="true">Return to Main</a>
            </form>
        </div>

        <!-- form div for ratings used in scoring -->
        <div data-role="page" data-theme="e" id="ratingsFeatures">
            <form  id="ratingsFeaturesForm" >
                <div data-role="content">
                    <div data-role="fieldcontain" id="garden"  data-theme="a">
                        <label for="useOfColor"> <em>* Use of color </em>(visual impact)</label>
                        <select name="useOfColor" id="useOfColor" class="ratingsClass" data-mini="true" data-inline="true">
                            <option value=""> Rating </option>
                            <option value="4"> 4 </option>
                            <option value="3"> 3 </option>
                            <option value="2"> 2 </option>
                            <option value="1"> 1 </option>
                            <option value="0"> 0 </option>
                        </select>

                        <label for="plantVariety"> <em>* Plant variety </em>(grasses, flowers, trees, shrubs) </label>
                        <select name="plantVariety" id="plantVariety" class="ratingsClass" data-mini="true" data-inline="true">
                            <option value=""> Rating </option>
                            <option value="4"> 4 </option>
                            <option value="3"> 3 </option>
                            <option value="2"> 2 </option>
                            <option value="1"> 1 </option>
                            <option value="0"> 0 </option>
                        </select>

                        <label for="design"> <em>* Design </em>(balance, creative, natural) </label>
                        <select name="design" id="design" class="ratingsClass" data-mini="true" data-inline="true">
                            <option value=""> Rating </option>
                            <option value="4"> 4 </option>
                            <option value="3"> 3 </option>
                            <option value="2"> 2 </option>
                            <option value="1"> 1 </option>
                            <option value="0"> 0 </option>
                        </select>

                        <label for="maintenance"> <em>* Maintenance </em>(well cultivated, no standing water)</label>
                        <select name="maintenance" id="maintenance" class="ratingsClass" data-mini="true" data-inline="true">
                            <option value=""> Rating </option>
                            <option value="4"> 4 </option>
                            <option value="3"> 3 </option>
                            <option value="2"> 2 </option>
                            <option value="1"> 1 </option>
                            <option value="0"> 0 </option>
                        </select>

                        <label for="environmentalStewardship"> <em>* Environmental Stewardship </em>(native species, minimal annuals, turf reduction, concave boulevard, redirected downspouts) </label>
                        <select name="environmentalStewardship" class="ratingsClass" id="environmentalStewardship" data-mini="true" data-inline="true">
                            <option value=""> Rating </option>
                            <option value="4"> 4 </option>
                            <option value="3"> 3 </option>
                            <option value="2"> 2 </option>
                            <option value="1"> 1 </option>
                            <option value="0"> 0 </option>
                        </select>
                    </div>

                    <input type="button" value="Compute Score" data-role="button" data-inline="true" data-theme="a" onclick="computeScore()">

                    <!--output summation of ratings as determined in computeScore function-->
                    <fieldset id="sumId" data-role="controlgroup" data-mini="true">
                        <label for="sumRating"> <em>* </em>Computed Sum of Ratings </label>
                        <input id="sumRating" name="sumRating" type="text" size="2">
                    </fieldset>

                    <div data-role="fieldcontain">
                        <label for="featuresMenu" class="select"><em>* </em>Garden features:</label>
                        <select name="featuresMenu" id="featuresMenu" multiple="multiple" data-native-menu="false" data-theme="a">
                            <option value="">Choose features</option>
                            <option value="1">Rain garden</option>
                            <option value="2">Rain barrel</option>
                        </select>
                    </div>

                    <fieldset data-role="controlgroup" data-mini="true">
                        <label for="generalComment"> <em>* </em>General Comments: </label>
                        <input id="generalComment" placeholder=""  type="text">
                    </fieldset>

                    <input type="button" value="Save Ratings and Features" data-role="button" data-inline="true"  type="submit" data-theme="a" name="submit" value="submit-value" onclick="loadRatingsFeatures()">
                    <!-- was validateSite() -->
                    <!--<div class="hide_me"> Used to hide, however, since rules are convoluted, we just display a warning-->
                    <a href="#award" id="give_award" type="submit" data-role="button" data-inline="true" data-theme="a" >Consider this garden for an award</a>
                    <!--</div>-->
                    <a href="#mainPage" id="btn-reset"  type="submit" class="submit" data-role="button" data-inline="true" data-theme="a" >Return to Main</a>

                </div>
            </form>
        </div>

        <!-- form div for awards: control display  -->
        <div data-role="page" data-theme="e" id="award">

            <form  id="awardForm" >
                <div data-role="fieldcontain">
                    <label for="awardMenu"> <em>* </em>Consider this garden for: </label>
                    <select name="awardMenu" id="awardMenu" data-mini="true" data-inline="true" data-mini="true" data-theme="a" >
                        <option value=""> Type of award </option>
                        <option value="1"> Best Residential </option>
                        <option value="2"> Best Residential Raingarden </option>
                        <option value="3"> Best Boulevard </option>
                        <option value="4"> Best Business </option>
                        <option value="5"> Best Business Raingarden </option>
                        <option value="6"> Best Apartment </option>
                        <option value="7"> Best Community </option>
                        <option value="8"> Best Public </option>
                        <option value="9"> Best School </option>
                        <option value="10"> Best Congregation </option>
                        <option value="11"> Best Window Box/Container </option>
                        <option value="12"> Nate Siegel </option>
                        <option value="13"> Special award (specify below:) </option>
                    </select>
                </div>

                <fieldset data-role="controlgroup" data-mini="true" >
                    <label for="specialAward"> <em>* </em>Special Award Comment: </label>
                    <input id="specialAward" placeholder=""  type="text">
                </fieldset>

                <div data-role="fieldcontain">
                    <input type="button" value="Save Award" data-role="button" data-inline="true" type="submit" data-theme="a" name="submit" value="submit-value" onclick="assignAward() ">
                    <a href="#ratingsFeatures"  id="btn"  class="submit" type="submit" data-role="button"  data-inline="true" data-theme="a" value="submit-value">Return to evaluation</a>
                </div>

            </form>
        </div>

        <div data-role="page" data-theme="e" id="geolocationDiv">
            <form  id="geolocationForm" >

                <p id="geolocation">
                    Watching geolocation...
                </p>
                <br>

                <input type="button" value="Save Geolocation Coordinates" data-role="button" data-inline="true" type="submit" data-theme="a" name="submit" value="submit-value" onclick="initializeParamaterGetSiteId()">
                <a href="#location" type="submit" data-role="button" data-inline="true" data-theme="a">Back</a>
            </form>
        </div>

    </body>
</html>
